.matrix {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}
.matrix:before,
.matrix:after {
  content: '';
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
.matrix:before {
  left: -6px;
  border-right: 0;
}
.matrix:after {
  right: -6px;
  border-left: 0;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

.tdNode {
  color: grey;
  font-size: 9px;
  height: 9px;
}
